.logo a{color:#FF5E76;}
.content .sub-logo, .section4 h3, .testimonials-box h4, .close-sub span:nth-child(4),#section5 h3 { color:#FF5E76;}
.store-btn.app { background-color:#FF5E76;}
.close-sub{border-color:#FF5E76;}
.onepage-pagination li a.active:before, .onepage-pagination li a:hover:before{border-color: #FF5E76 !important;}
.onepage-pagination li a.active, .onepage-pagination li a:hover{ background-color: #FF5E76 !important; border-color: #FF5E76 !important;}
/*====== Header Menu =======*/
.nav > li.active > a, .nav > li > a:hover, .nav > li > a:focus{ color: #FF5E76; border-color: #FF5E76;} 
.social-icons ul li a:hover i,.social-icons ul li a:focus i, .close-bar,.owl-theme .owl-controls .owl-nav div{ background-color:#FF5E76;}
.navbar-toggle {
    background-color: #FF5E76;
    border-color: #FF5E76;
}
/*====== Primary Button ======*/
.btn-primary {background-color: #FF5E76;border-color: #FF5E76;}

.bx-wrapper .bx-controls-direction a{ background-color: rgba(90, 200, 251,0.5); }
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {background: #FF5E76 !important;border-color: #FF5E76 !important;}

.amazing-feature-text .fa,.Features-Summary table tbody tr td .child-iconWrap i,.inner-box i{
	color:#FF5E76;
}
.title:before {
	background-color:#FF5E76;
}
.subtitle_left {
    border-left: 4px solid #FF5E76;   
}
#fp-nav ul li a{
	    border: 3px solid #FF5E76;
}
#fp-nav ul li a:before{
	    border: 1px solid #FF5E76;
}
#fp-nav ul li a span, .fp-slidesNav ul li a,.fp-slidesNav ul li a,.Features-Summary table tbody tr td:last-of-type{
	    background: #FF5E76;
}
.Features-Summary table thead tr th:last-of-type,.client-block{
	background: #FF5E76;
}
.team-position p ,.subtitle_bolder{ 
	color:#FF5E76 !important;
}
.btn-primary:hover, .btn-primary:focus,.btn-primary:active{
	background: #fff !important;
    color: #FF5E76 !important;
    border-color: #FF5E76 !important;
    outline: none !important;
    box-shadow: none;
}
.subscribe-box .btn {
	border: 1px solid #FF5E76;
}