/** TABLE OF CONTENTS **/

/**
    01. Custom css
    02. General css
    03. Header Menu
    04. Logo
    05. Close btn
    06. Social-icons
    07. Home Page
    08. Magical Feature Section
    09. Fetures Section
    10. Video Section    
    11. Testimonials Section
    12. Team Section
    13. Subscribe Section
    14. Owl-carousal Buttons
    15. Download App    
    16. Footer    
    17. Contact-form
    18. Features-wrap
    19. Modal
    20. FeaturesWrap-table
    21. Color-picker
    22. Twitter
    23. Map   
**/

/*====== 01.Custom css starts ======= */

html {
    font-size: 20px;
}
*:focus {
    outline: none;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a,
a:hover,
a:focus {
    text-decoration: none;
}
img {
    border: 0px;
    max-width: 100%;
}
p {
    font-size: 15px;
    color: #666;
    font-weight: 400;
    line-height: 1.6;
}
h2{
    font-size: 35px;
}
h3{
    line-height:1.6;
}
h4{
    font-size: 18px;
    color: #333;
    font-weight: 100;
    line-height: 1.6;
    margin-bottom: 20px;
}
.icon-color{
    color: #00CCD6;
}
a,
:before,
:after,
.btn,
span {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.clear:before,
.clear:after {
    display: table;
    content: "";
}
.clear:after {
    clear: both;
}
.title {
    font-size: 35px;
    font-weight: 300;
    color: #124b62;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 35px;
    letter-spacing: 2px;
}
.title:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 165px;
    height: 2px;
    background-color: #00CCD6;
    margin: auto;
}
.title.title-left {
    text-align: left;
    margin-bottom: 40px;
}
.title.title-left:before {
    left: 0;
    right: auto;
}
.subscribe-title{
    font-size: 35px;
    font-weight: 300;
    color: #124b62;
}
/*====== 01.Custom css ends ======= */

/*====== 02.General css starts======= */

.mb50 {
    margin-bottom: 50px;
}
.mb40{
    margin-bottom: 40px;
}
.mb30 {
    margin-bottom: 30px;
}
.mb20 {
    margin-bottom: 20px;
}
.mt20{
    margin-top: 20px;
}
.mt30{
    margin-top: 30px;
}
.mt40{
    margin-top: 40px;
}
.mr5{
    margin-right: 5px;
}
.mr15{
    margin-right: 15px;
}
.p10{
    padding: 10px;
}
.pl0{
    padding-left: 0px;
}
.feature_section, .screenshot_secion, .team_section, .contact_section{
    background-color: #EDF1F2;
}
.form-group{
    margin-bottom: 23px;
}
/*====== General css ends======= */

/*======  Background-image css ======= */
.bg-opacity-layer {
    background: rgba(0, 0, 0, 0.98);
    opacity: 0.45;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.slide_back_home{
    position: absolute;
    margin-right: -50%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide_back{
    height: 100% !important;
}
.image-background-white{
    background-color: #fff;
}
/*====== 03.Header Menu starts ======= */
#fp-nav ul li a{
    border: 3px solid #00CCD6;
    border-radius: 100%;
    display: block;
    height: 8px;
    margin: 15px auto;
    width: 8px;
}
#fp-nav ul li a:before{
    background: transparent;
    border: 1px solid #00CCD6;
    border-radius: 10px;
    content: "";
    height: 16px;
    left: 0;
    margin: -7px auto auto -7px;
    position: absolute;
    right: 0;
    width: 16px;
}
#fp-nav ul li a span, .fp-slidesNav ul li a{
    background: #00CCD6;
}
.navbar-toggle {
    background-color: #00ccd6;
    border-color: #00ccd6;
}
.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    top: 0;
}
.header-box {
    background-color: #fff;
    min-height: 70px;
    padding: 10px 0;
    display: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.fix_menu{
    display: block;
}
.header-box .container {
    position: relative;
}
/*====== Header Menu ends ======= */

/*======  04.logo starts ======= */

.logo {
    position: absolute;
    left: 10px;
    top: 10px;
    font-family: 'Baloo Thambi', cursive;
    font-size: 40px;
    padding-left: 20px;
}
.logo a {
    color: #00CCD6;
}

/*====== logo ends ======= */

/*====== 05.Close btn starts ======= */

.close-sub {
    border: 2px solid #00CCD6;
    border-radius: 100%;
    display: block;
    height: 43px;
    padding: 11px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 43px;
    cursor: pointer;
    background-color: transparent;
}
.close-bar {
    background-color: #00CCD6;
    display: block;
    height: 2px;
    margin: 3px auto;
    width: 17px;
}
.close-sub span:nth-child(4) {
    display: block;
    font-weight: 300;
    font-size: 28px;
    margin: -14px auto;
    opacity: 0;
    display: none;
    width: 13px;
    color: #00CCD6;
}
.close-sub.active span:nth-child(4) {
    opacity: 1;
    display: block;
}
.close-sub.active span:nth-child(1),
.close-sub.active span:nth-child(2),
.close-sub.active span:nth-child(3) {
    opacity: 0;
    display: none;
}

/*====== Close btn ends ======= */

/*======  06.Social-icons starts ======= */

.social-icons ul li {
    display: inline-block;
    margin: 3px 0;
}
.social-icons ul li a i {
    width: 43px;
    height: 43px;
    color: #fff;
    background-color: #324c5b;
    font-size: 24px;
    text-align: center;
    line-height: 43px;
    border-radius: 100%;
}
.social-icons ul li a:hover i,
.social-icons ul li a:focus i {
    background-color: #00CCD6;
}
section {
    background-repeat: no-repeat;
    background-size: 100%;
}

/*====== Social-icons ends ======= */

/*======  07.Home Page starts  ======= */
.home_ph_txt p{
    color: #fff;
    padding: 30px 0;
}
.viewing-page-1 .logo {
    display: none;
}
.home_section{
    background-image: url("../images/home-bg.jpg");
    background-size: cover;
    z-index: -2;
}
.home_ph_2{
    position: absolute;
    width: 270px;
    right: 0px;
    z-index: -1;
    top: 50%;
    margin-top: -268px;
}
/*.section0:before{ content:""; position:absolute; left:0; right:0; top:0; bottom:0; background-color:rgba(60,60,60,0.20); z-index:-1;}*/

.content .sub-logo {
    margin-top: 6%;
    text-align: left;
    font-family: 'Baloo Thambi', cursive;
    font-size: 150px;
    color: #00CCD6;
    padding-left: 24px;
}
.content .sub-logo img {
    width: 65%;
}
.content h1 {
    font-size: 40px;
    color: #fff;
    font-weight: 400;
}
.down {
    bottom: 20px;
    color: #3dde9c;
    font-size: 48px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
}
.down .mouse {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 58px;
    margin: 0 auto 5px;
    border: 2px solid #fff;
    border-radius: 24px;
    opacity: .6;
    cursor: pointer;
}
.down .mouse span {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    width: 8px;
    height: 12px;
    margin: -10px 0 0 -4px;
    background: #fff;
    border-radius: 20px;
    -webkit-animation: scroll 2s linear infinite;
    -moz-animation: scroll 2s linear infinite;
    animation: scroll 2s linear infinite;
}
@-webkit-keyframes scroll {
    1% {
        opacity: 1;
        top: 30%;
    }
    20% {
        opacity: 1;
        top: 50%;
    }
    60% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 30%;
    }
}
@-moz-keyframes scroll {
    1% {
        opacity: 1;
        top: 30%;
    }
    20% {
        opacity: 1;
        top: 50%;
    }
    60% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 30%;
    }
}
@keyframes scroll {
    1% {
        opacity: 1;
        top: 30%;
    }
    20% {
        opacity: 1;
        top: 50%;
    }
    60% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 30%;
    }
}
.store-btn {
    border-radius: 1px;
    color: #fff;
    display: inline-block;
    margin-left: 15px;
    max-width: 225px;
    min-height: 70px;
    padding: 7px 22px 7px 70px;
    position: relative;
    text-align: left;
    width: 100%;
}
.store-btn:first-child {
    margin-left: 0;
}
.store-btn img {
    bottom: 0;
    left: 19px;
    margin: auto;
    position: absolute;
    top: 0;
    width: 40px;
}
.store-btn span {
    font-size: 12px;
}
.store-btn h3 {
    font-size: 19px;
    margin-bottom: 0;
    margin-top: 0px;
    font-weight: 600;
    text-transform: uppercase;
}
.store-btn.app {
    background-color: #00CCD6;
}
.store-btn.googie-play {
    background-color: #29abe2;
}

/*======  Home Page ends  ======= */

/*======  08. Magical Feature Section Starts  ======= */
.magical_feature_section{
    background-image: url("../images/feature-bg.jpg");
    background-size: cover;
}
.section1 {
    background-color: #fff;
    background-position: center bottom;
}

.about ul {
    padding: 18px 0;
}
.about-feature li {
    font-size: 14px;
    padding-bottom: 10px;
}
.about-feature i {
    padding: 15px 15px;
    color: #fff;
    font-size: 20px;
}
.about-feature-li:hover i{
    transition:all ease-in 0.6s;
    -webkit-transform:rotate(10deg) scale(1.1);
    -moz-transform:rotate(10deg) scale(1.1);
    transform:rotate(10deg) scale(1.1);
    text-shadow:1px 3px rgba(2, 2, 2, 0.42);
}

.amazing-feature-text {
    font-size: 14px;
    line-height: 1.55556em;
    list-style-type: none;
    margin-bottom: 15px;
    min-height: 1.55556em;
    padding-left: 2.11111em;
    position: relative;
    font-weight: 400;
    opacity: 0.9;
}
.amazing-feature-text .fa {
    font-size: 1.33333em;
    left: 0;
    line-height: 1.16667em;
    position: absolute;
    top: 0;
    color: #00CCD6;
}
.about-feature li{
    display: inline-block;
    margin-right: 20px;
    width: 100px;
    text-align: center;
}
.about-feature-li{
    color: #fff;
    border-radius: 60%;
    padding: 5px;
    cursor: pointer;
    width: 60px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.about-feature-li:hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.about-bgcolor-1{
    background-color: #ff7e5b;
}
.about-bgcolor-2{
    background-color: #3cb6b6;
}
.about-bgcolor-3{
    background-color: #c183d6;
}
.about-bgcolor-4{
    background-color: #ffb85b;
}
/*======  Magical Feature Section ends  ======= */

/*======  09.Fetures Section Starts  ======= */

.section2 h2 {
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 50px;
}
.listing-box ul li {
    margin-top: 40px;
}
.listing-box ul li:first-child {
    margin-top: 0;
}
.listing-box ul li h3 {
    font-weight:600;
    margin-top: 0px;
    color: #07598d;
    padding-bottom: 10px;
    position: relative;
}
.listing-box ul li h3:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 165px;
    height: 1px;
    background-color: #cecece;
}
/* .listing-box ul li p {
    font-size: 14px;
} */
.listing-box ul li i {
    font-size: 22px;
    color: #fff;
    position: absolute;
}
.listing-box.left ul li {
    padding-right: 65px;
    text-align: right;
}
.listing-box.left ul li i {
    right: 0;
}
.listing-box.right ul li {
    padding-left: 65px;
}
.listing-box.right ul li i {
    left: 0;
}
.listing-box.left ul li h3:before {
    right: 0px;
}
.listing-box.right ul li h3:before {
    left: 0px;
}
.mid-image {
    width: 200px;
    margin: 0 auto;
    position: relative;
}
.screen-shot-left {
    background: rgba(0, 0, 0, 0.39);
    padding: 30px;
}
ul.feature-list li {
    margin-bottom: 40px;
    position: relative;
}
ul.feature-list li p {
    line-height: 2.0;
}
ul.feature-list li h3,
ul.feature-list li p {
    padding-left: 65px;
    color: #fff;
}
ul.feature-list li i {
    display: inline-block;
    vertical-align: middle;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 50px;
    position: absolute;
    top: 0;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    background: #00CCD6;
}
.screens-set {
    margin-bottom: 7em;
}
.section3 {
    background-position: center;
    position: relative;
}
.section3:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(199, 199, 199, 0.30);
}

.screenshorts-slider {
    background-image: url(../images/iphone3.html);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 400px;
    margin: 0 auto;
    padding: 56px 102px 108px 84px;
}
.screenshorts-slider-box {
    position: relative;
}
.bx-wrapper img {
    border-radius: 2px;
}
.screenshorts-slider-box .bx-wrapper img {
    width: 100%;
}
.features_img{
    position:absolute;
}
.features-btn{
    position: relative;
    bottom: 1em;
}
.features-icon{
    background: #FF7E5B;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    height:50px;
    width: 50px;
    line-height: 30px;
}
.features-icon-color1{
    background: #ff7e5b;
}
.features-icon-color2{
    background: #3CB6B6;
}
.features-icon-color3{
    background:#C183D6 ;
}
.features-icon-color4{
    background: #5BB8FF;
}
.features-icon-color5{
    background: #EC768C;
}
.features-icon-color6{
    background: #FFB85B ;
}
.more_feature_txt{
    font-size: 16px !important;
    margin-top:20px;
    margin-bottom:20px;
    font-weight:600;
    color:#07598d;
}

.highlight-right {
    animation: 2s ease-in 0s normal none infinite running highlight-right;
    margin-top: -100px;
    position: absolute !important;
    right: -20px;
    z-index: 10 !important;
}
.highlight-left {
    animation: 2s ease-in 0s normal none infinite running highlight-left;
    left: -20px;
    margin-top: -100px;
    position: absolute !important;
    z-index: 10 !important;
}
@-webkit-keyframes highlight-left {
    0% {
        opacity: 0;
        top: 100%;
        -webkit-transform: scale(0);
    }
    70% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
    100% {
        opacity: 0;
        top: 0;
        -webkit-transform: scale(0);
    }
}
@keyframes highlight-left {
    0% {
        opacity: 0;
        top: 100%;
        transform: scale(0);
    }
    70% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        top: 0;
        transform: scale(0);
    }
}
@-webkit-keyframes highlight-right {
    0% {
        opacity: 0;
        top: 0;
        -webkit-transform: scale(0)
    }
    70% {
        opacity: 1;
        -webkit-transform: scale(1)
    }
    100% {
        opacity: 0;
        top: 100%;
        -webkit-transform: scale(0)
    }
}
@keyframes highlight-right {
    0% {
        opacity: 0;
        top: 0;
        transform: scale(0)
    }
    70% {
        opacity: 1;
        transform: scale(1)
    }
    100% {
        opacity: 0;
        top: 100%;
        transform: scale(0)
    }
}
/*======  Fetures Section Ends  ======= */

/*====== 10.Video Section starts  ======= */
.video_section{
    background:#fff;
}
.video-title,.video-row p,.video-row ul li{
    color: #fff;
}
.video-row{
    background:rgba(0, 0, 0, 0.37);
    padding: 30px;
}

.video-title{
    font-size: 18px;
    text-transform: uppercase;
}
.video-icon {
    position: absolute;
    top: 50%;
    font-size: 53px;
    left: 50%;
    margin-left: -26px;
    margin-top: -20px;
    cursor: pointer;
    color: #fff;
    text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}
.video-ph{
    position: relative;

}
.video-ph img{
    width: 250px;
    display: inline-block;
}

.video--app {
    left: -44px;
    position: relative;
    top: 70px;
    width: 226px;
    z-index: -1;
}

/*====== Video Section ends  ======= */

/*====== 11.Testimonial Section starts  ======= */

.testimonial_section .fp-tableCell{
    position: relative;
    overflow: hidden;
}
.testimonial_section{
	background-image:url("../images/slide-bg.jpg");
	background-size:cover;
}
.testimonials-box p{
    color: #e1e1e1;
}
.section4.testimonial-background {
    overflow: hidden;
    position: relative;
}

.testimonial-img {
    height: 200px;
    border-radius: 50% !important;
    width: 200px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 2px rgba(15, 213, 157, 0.73);
}
.testimonial_section .title {
    color: #fff;
}
.testimonial_section h3 {
    font-size: 20px;
    color: #00CCD6;
    font-weight: 600;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 20px;
}
.testimonials-slider .bx-controls {
    display: none;
}
.testimonials-box {
    padding: 0 30px;
    position: relative;
    width: 60%;
    margin: 0 auto;
}
.testimonials-box:before {
    content: "\f10d";
    position: absolute;
    left: 0;
    top: -10px;
    font-family: FontAwesome;
    color: #cfcfcf;
}
.testimonials-box:after {
    content: "\f10e";
    position: absolute;
    right: 0;
    bottom: -10px;
    font-family: FontAwesome;
    color: #cfcfcf;
}
.testimonials-box h4 {
    text-align: right;
    font-size: 18px;
    color: #00CCD6;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 30px;
}
.testimonials-box h4 i {
    font-size: 14px;
    text-transform: lowercase;
    padding-right: 5px;
}

/*====== Testimonial Section ends  ======= */

/*====== 12.Team Section starts  ======= */

.team-block img {
    bottom: -10px;
    position: relative;
    z-index: 1;
    transition: .3s;
    margin: 0 auto;
}
.team-desc {
    background: #fff;
    padding-bottom: 10px;
    border-radius: 5px;
    position: relative;
    z-index: 2;
}
.team-name {
    padding-top:10px;
}
.team-name h4{
    margin-bottom: 10px;
    font-weight: 600;
}
.team-position p{
    color: #00CCD6;
}
.team-socials {
    display: inline-block;
    padding-top: 15px;
    padding-left: 0px;
}
.team-socials li {
    float: left;
    padding-right: 5px;
    padding-left: 5px;
}
.team-socials li a {
    color: #2d2d2d;
}
.team-socials i {
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 20px;
}
.team-socials .fb i:hover {
    color: #3A5795;
    transition-duration: 0.4s;
}
.team-socials .twt i:hover {
    color: #1DA1F2;
    transition-duration: 0.4s;
}
.team-socials .skype i:hover {
    color: #00AFF0;
    transition-duration: 0.4s;
}
.team-socials .l_in i:hover {
    color: #0077B5;
    transition-duration: 0.4s;
}
.team-block:hover img {
    bottom: 0px;
    transition: .3s;
}
.team-desc {
    transition-duration: 0.5s;
}
.team-block:hover .team-desc {
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.19);
    transition-duration: 0.5s;
}
/*====== Team Section ends  ======= */


/*====== 13. Subscribe section starts  ======= */

.valign-wrapper {
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
.subscribe-back-img {
    background-image: url("../images/subscribe-bg.png");
    background-size:cover;
    background-color: #fff;
}
.subscribe-center {
    padding: 100px 10px;
}
.suscribe-mail-img {
    display: inline-block;
}
.subscribe-text h1 {
    color: #666;
}
.subscribe-img img {
    height: 550px;
    margin-top: 3em;
}
.subscribe-btn {
    border: 1px solid #fff;
}
.subscribe-btn:hover {
    opacity: 0.6;
}
.subscribe-box {
    position: relative;
    width: 400px;
    display: inline-block;
}
.subscribe-box .btn {
    border: 1px solid #00CCD6;
    font-size: 17px;
    font-weight: bold;
    height: 45px;
    opacity: 0.8;
    padding: 10px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    width: 120px;
    top: 20px;
}
.subscribe-box .form-control {
    color: #555;
    float: left;
    font-size: 15px;
    width: 100%;
    height: 45px;
    margin: 20px 0;
}

/*====== Subscribe section ends  ======= */

/*====== 14.Owl-carousal Buttons starts ======= */
.owl-controls{
    margin-top: 15px;
}
.owl-theme .owl-controls .owl-nav div {
    background: #00CCD6;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    font-size: 0;
    height: 50px;
    margin: 5px;
    opacity: 0.7;
    padding: 7px 20px;
    width: 50px;
}
.owl-dots .owl-dot.active,
.owl-dots .owl-dot:hover {
    background: #00CCD6;
    border-color: #00CCD6;
}
.owl-dots .owl-dot+.owl-dot,
.owl-dots .owl-dot {
    border-color: #00CCD6;
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    opacity: 1;
    text-decoration: none;
}
.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 20px;
    display: block;
    height: 15px;
    margin: 5px 3px;
    opacity: 0.5;
    width: 15px;
}
.owl-theme .owl-controls .owl-nav div.owl-prev::before {
    content: "\f104";
    font-family: "FontAwesome";
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-transform: none;
}
.owl-theme .owl-controls .owl-nav div.owl-next::before {
    content: "\f105";
    font-family: "FontAwesome";
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-transform: none;
}


/*====== Owl-carousal Buttons ends ======= */

/*====== 15.Download App starts  ======= */

.section5 {
    background-image: url(../images/section5-bg.html);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}
.section5:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(199, 199, 199, 0.30);
}
.img-block li img {
    margin: -60px auto 0;
}
.img-block li:first-child img {
    margin-top: 0px;
}
.img-block li:nth-child(1) {
    width: 50%;
    margin: 0 auto;
}
.img-block li:nth-child(2) {
    width: 66.6667%;
    margin: 0 auto;
}
.img-block li:nth-child(3) {
    width: 83.3333%;
    margin: 0 auto;
}

/*====== 15.Download App ends  ======= */

/*====== 16.Footer starts ======= */

section .footer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 10;
}
.footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 15px 0;
    background-color: #f3f3f3;
}
.footer p {
    font-size: 12px;
    color: #abb0b9;
    font-weight: 300;
    margin-bottom: 0;
}

/*====== Footer ends ======= */

/*====== 17.Contactform starts  ======= */

.ContactWrap,
.mediawrap {
    padding-top: 103px;
}
.cont_details h3{
    margin-bottom: 30px;
    margin-top: 0;
    font-weight: 600;
    color: #07598d;
}
.cont_details span{
    font-size: 16px;
}

.cont_social_icon i{
    color: #333;
    margin-right: 15px;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
}
.cont_social_icon .fa-facebook:hover{
    opacity: 1;
    color:#3C5A98;
}
.cont_social_icon .fa-twitter:hover{
    opacity: 1;
    color:#00ACED;
}
.cont_social_icon .fa-google-plus:hover{
    opacity: 1;
    color:#D34836;
}
.cont_social_icon .fa-linkedin:hover{
    opacity: 1;
    color:#007AB9;
}
.cont_social_icon .fa-pinterest-p:hover{
    opacity: 1;
    color:#CB2026;
}
.buttonsWrap {
    display: table;
    margin: 30px auto 20px;
}
.buttonsWrap .btn {
    font-size: 18px;
    margin: 10px;
    padding: 12px 25px 12px 60px;
    position: relative;
    text-transform: uppercase;
    font-weight: 300;
}
.buttonsWrap .btn i {
    font-size: 18px;
    left: 25px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
}
.this-fb {
    background-color: #3c8ed3;
    border-color: #3c8ed3;
}
.this-tw {
    background-color: #17b8f5;
    border-color: #17b8f5;
}
textarea.form-control {
    height: 245px;
}
.submit-form {
    border: 1px solid #00CCD6;
    font-weight: 700;
    border: 1px solid #00CCD6;
    border-radius: 2px;
    box-sizing: border-box;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    outline: 0 none;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out 0s;
    width: 140px;
}
.cont_footer{
    position: relative;
}

.cont_data{
	font-size: 14px;
    line-height: 1.55556em;
    list-style-type: none;
    margin-bottom: 15px;
    min-height: 1.55556em;
    padding-left: 2.11111em;
    position: relative;
}
.cont_data .fa {
    font-size: 1.33333em;
    left: 0;
    line-height: 1.16667em;
    position: absolute;
    top: 6px;
}

/*====== Contactform ends  ======= */

/*====== 18.FeaturesWrap starts  ======= */
.feature_content h1{
    color: #124b62;
}
.feature_content img{
    width: 800px;
    margin: 0 auto;
}
.features-block .row{
    position: relative;
    overflow: hidden;
}
.features-block h2{
    color: #124b62;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.feature_content h4{
    padding: 30px 0;
}
.FeaturesWrap {
    margin-top: 70px;
}
.features-box {
    padding: 40px 0;
    background-image: url("../images/slide_1.jpg");
    background-size:cover;
}
.features-box h1{
    color: #fff;
}
.features-box h3 {
    color: #124b62;
    font-weight: 300;
    text-align: center;
}
.features-box p {
    float: left;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 30px;
}
.features-block .container .row {
    border-bottom: 1px solid #7f7f7f;
    margin-top: 100px;
    margin-bottom: 100px;
}
.features-block .container .row-last {
    margin-bottom: 50px;
    border-bottom: none;
}
.features-block h3 {
    color: #124b62;
    font-weight: 300;
    margin-bottom: 20px;
}

.bottom-play-apps-box {
    margin: 50px auto;
}
.play-apps-box img{
    cursor: pointer;
    box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.32);
    transition-duration: 0.4s;
    border-radius: 6px;
}
.play-apps-box img:hover{
    box-shadow: none;
    transition-duration: 0.4s;
}

/*====== FeaturesWrap ends  ======= */

/*====== 19.modal starts  ======= */

.basic-modal {
    display: none;
}
.modal-close {
    background-color: #00CCD6;
    border-radius: 100%;
    color: #fff;
    display: block;
    font-weight: 300;
    font-size: 12px;
    height: 30px;
    padding: 6px;
    position: absolute;
    right: -10px;
    text-align: center;
    top: -15px;
    width: 30px;
}
.modal-close:hover,
.modal-close:focus {
    background-color: #00CCD6;
    color: #fff;
}
.basic-modal-bg {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
}
.basic-modal-content {
    height: 360px;
    position: fixed;
    max-width: 600px;
    width: 100%;
    margin: -180px auto;
    left: 0;
    right: 0;
    top: 50%;
    background-color: #fff;
    padding: 8px;
    z-index: 9999;
}
iframe {
    width: 100%;
    border: 0px;
    height: 343px;
}

/*====== modal ends  ======= */

/*====== 20.FeaturesWrap-table starts ======= */

.Features-Summary table {
    width: 100%;
    border-collapse: collapse;
}
.Features-Summary table thead tr th {
    vertical-align: middle;
    background: #fbfbfb;
    border: 1px #e9ebeb solid;
    font-size: 25px;
    color: #000000;
    padding: 15px 17px;
    font-weight: 300;
}
.Features-Summary table thead tr th:last-of-type {
    background: #00CCD6;
    font-weight: 600;
    color: #fff;
}
.Features-Summary table thead tr th:nth-child(2),
.Features-Summary table thead tr th:nth-child(3) {
    width: 200px;
    text-align: center;
}
.Features-Summary table tbody tr td {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e9ebeb;
    padding: 15px 25px;
    text-align: center;
    vertical-align: middle;
}
.Features-Summary table tbody tr td:first-of-type {
    text-align: left;
}
.Features-Summary table thead tr th:first-of-type {
    text-align: left;
}
.Features-Summary table tbody tr td:last-of-type {
    background: #00CCD6 none repeat scroll 0 0;
}
.Features-Summary table tbody tr td .child-textWrap strong {
    color: #07598d;
    display: block;
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 600;
}
.Features-Summary table tbody tr td .child-textWrap span {
    color: #798893;
    display: block;
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 300;
}
.Features-Summary table tbody tr td:last-of-type .child-textWrap strong,
table tbody tr td:last-of-type .child-textWrap span {
    color: #fff;
}
.Features-Summary table tbody tr td .child-iconWrap {
    display: inline-block;
    margin-right: 25px;
    vertical-align: middle;
    position: absolute;
    top:8px;
}
.Features-Summary table tbody tr td .child-textWrap {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.pricing_txt{
    padding-left: 3.11em;
}
.Features-Summary table tbody tr td .child-iconWrap span {
    width: 42px;
    float: left;
}
.Features-Summary table tbody tr td .child-iconWrap i {
    font-size: 28px;
    color: #00CCD6;
}

/*====== FeaturesWrap-table ends ======= */

/*====== 21.Color Picker starts =======*/
/* Style switcher */

.color-1 {
    background: #00CCD6;
}
.color-2 {
    background: #e6af4b;
}
.color-3 {
    background: #a68f58;
}
.color-4 {
    background: #BAAD7C;
}
.color-5 {
    background: #23D1B7;
}
.color-6 {
    background: #ff5e76;
}
.color-7 {
    background: #8B4DA5;
}
.color-8 {
    background: #A0CE4E;
}
.color-picker {
    position: fixed;
    left: -239px;
    top: 150px;
    width: 239px;
    background: #e6e6e6;
    z-index: 999999;
    -webkit-transition: all .3s ease;
}
.color-picker a.handle {
    position: absolute;
    top: 0;
    left: 239px;
    width: 50px;
    height: 50px;
    text-align: center;
    background: #262626;
    z-index: 9999;
}
.color-picker a.handle i {
    color: white;
    font-size: 25px;
    line-height: 50px;
}
.color-picker .settings-header {
    background: #3c3c3c;
    height: 50px;
    padding: 21px 34px 0 34px;
}
.color-picker .settings-header h3 {
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 0;
    padding: 0;
    margin-top: 0;
    padding-bottom: 5px;
}
.color-picker .section1 {
    padding: 20px 20px;
    background: #e6e6e6;
    overflow: hidden;
}
.color-picker .section1 h4 {
    font-size: 16px;
    text-transform: none;
    color: #3c3c3c;
    line-height: 16px;
    padding: 0 0 0 0px;
    margin-bottom: 20px;
    text-align: left;
}
.color-picker .section1 i {
    font-size: 16px;
    margin-right: 10px;
}
.color-picker span {
    font-size: 13px;
    color: #9a9a9a;
}
.color-picker .colors a {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-right: 5px;
    float: left;
}
.color-picker .skin a {
    display: block;
    width: 70px;
    height: 30px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 5px;
    float: left;
    text-align: center;
    line-height: 30px;
    border: 2px transparent solid;
}
.color-picker .skin a.actt {
    border: 2px #FFF solid;
}
/*====== Color Picker ends =======*/



/*====== 23.Animation CSS starts =======*/

#magical{
    position: relative;
    bottom: -70em;
    transition:1.1s all ease-out;
    -webkit-transition:1.1s all ease-out;
    -moz-transition:1.1s all ease-out;
}

.fp-viewing-1 #magical{
    bottom: 0;
}
.features-main{
    position: relative;
}
#features{
    position: relative;
    bottom: -25em;
    transition:1.1s all ease-out;
    -webkit-transition:1.1s all ease-out;
    -moz-transition:1.1s all ease-out;
}

.fp-viewing-2 #features,.fp-viewing-3 #video,.fp-viewing-9 #download-ph1,.fp-viewing-9 #download-ph2,.fp-viewing-9 #download-ph3,
.fp-viewing-6 .team-person-animation1,.fp-viewing-6 .team-person-animation2,.fp-viewing-6 .team-person-animation3,.fp-viewing-6 .team-person-animation4{
    bottom: 0;
}

#video{
    position: relative;
    bottom: -30em;
    transition:1.1s all ease-out;
    -webkit-transition:1.1s all ease-out;
    -moz-transition:1.1s all ease-out;
}
.download_section{
    background-image: url("../images/cont_back.png");
}
#download-ph1{
    position: relative;
    bottom: -25em;
    transition:1.1s all ease-out;
    -webkit-transition:1.1s all ease-out;
    -moz-transition:1.1s all ease-out;
}
#download-ph2{
    position: relative;
    bottom: -20em;
    transition:1.1s all ease-out;
    -webkit-transition:1.1s all ease-out;
    -moz-transition:1.1s all ease-out;
    margin-bottom: 15px !important;
}
#download-ph3{
    position: relative;
    bottom: -10em;
    transition:1.1s all ease-out;
    -webkit-transition:1.1s all ease-out;
    -moz-transition:1.1s all ease-out;
}
.team-person-animation1{
    position: relative;
    bottom: -30em;
    transition:1.1s all ease-out;
    -webkit-transition:1.1s all ease-out;
    -moz-transition:1.1s all ease-out;
}
.team-person-animation2{
    position: relative;
    bottom: -30em;
    transition:1.4s all ease-out;
    -webkit-transition:1.4s all ease-out;
    -moz-transition:1.4s all ease-out;
}
.team-person-animation3{
    position: relative;
    bottom: -30em;
    transition:1.7s all ease-out;
    -webkit-transition:1.7s all ease-out;
    -moz-transition:1.7s all ease-out;
}
.team-person-animation4{
    position: relative;
    bottom: -30em;
    transition:2.1s all ease-out;
    -webkit-transition:2.1s all ease-out;
    -moz-transition:2.1s all ease-out;
}


/*====== 23.Animation CSS ends =======*/

.client-block{
    background: #00CCD6;
}
.client_block_watermark{
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    font-size: 172px;
    opacity: 0.2;
    bottom: 30px;
    left: 30%;
    display: none;
}
.half-image{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 40px;
    border-bottom: 1px solid #7f7f7f;
}
.half_two_image{
    opacity: 0.5;
    position: relative;
    bottom: -90px;
    transition:all ease-in 0.5s;
}
.half_img_hover{
    overflow: hidden;
}
.half_image_active{
    opacity: 1;
    position: relative;
    bottom: -5px;
    transition:all ease-in 0.5s;
}

.half_icon1{
    background: #ff6000;
}
.half_icon2{
    background: #00CCD6;
}
.half_icon3{
    background: #ffb85b;
}
.icon-block i{
    font-size: 25px;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    height: 50px;
    width: 50px;
    line-height: 30px;
    color: #fff;
}
.client-block-container{
    padding: 40px 0;
}
.features-hr{
    padding-bottom: 50px;
}
.features-hr .subtitle{
    font-size: 20px;
    text-transform: capitalize;
    color: #124b62;
    font-weight: 600;
    letter-spacing: 0px;
}
/*light-box*/
.lightboxOverlay{
    background-color: #fff;
    opacity: 1;
}
.lb-data .lb-close{
    position: absolute;
    top: -35px;
    right: 15px;
}

/* New-Title Starts */

.title_first_word{
    font-weight: 700;
    font-size: 45px;
    color: #00CCD6;
}

.title_watermark{
    position: absolute;
    left: 50%;
    font-size: 140px;
    font-weight: 900;
    opacity: 0.1;
    margin-left: -50px;
    top: 60%;
    margin-top: -85px;
    transform: rotate(-15deg);
    display: none;
}

.subtitle{
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.subtitle_left{
    border-left: 4px solid #00CCD6;
    padding-left: 10px;
}
.subtitle_bolder{
    font-weight: 700;
    color:#00ccd6;
}

.download_section .title_watermark{
    top:70%;
}

/* New-Title Ends */

/*====== 23.Map Css starts ======= */
.cont_title{
    font-size: 50px;
}
#map{
    height: 500px;
}
.map-box{
    position: relative;
}
.map-boxes{
    position: absolute;
    top: 0;
    margin: 0 auto;
    text-align: center;
    padding: 120px 0;
    left: 0;
    right: 0;
}
.inner-box{
    border: 1px solid #f0f0f0;
    padding: 50px;
    background: rgba(255, 255, 255, 0.7);
    width: 400px;
    display: inline-block;
    margin-left: 10px;
}
.inner-box h3{
    font-weight: 700;
}
.inner-box i{
    font-size: 40px;
    color: #00CCD6;
}
/*====== 23.Map Css ends ======= */

/*  24. Features accordion CSS Starts*/

.accordion {
    margin: 40px 0;
}
.accordion .panel {
    margin: 0;
    border-width: 0px;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
}
.accordion .accordion_title {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0;
}
.accordion .accordion_title a:hover i,
.accordion .accordion_title a[aria-expanded="true"] i {
    color: #fff;
}
.accordion .accordion_title a:hover,
.accordion .accordion_title a[aria-expanded="true"] {
    text-decoration: none;
    border-color: #ddd;
    background: #00CCD6;
    color: #fff;
}
.accordion .accordion_title a {
    display: block;
    position: relative;
    color: #222222;
    padding: 14px 20px;
    border: 1px solid #e8e8e8;
    letter-spacing: 3px;
    margin: 10px 0;
}
.accordion .accordion_title a:hover p,
.accordion .accordion_title a[aria-expanded="true"] p {
    font-size: 18px;
    color: #222;
}
.accordion .accordion_title a p {
    font-size: 10px;
    color: #ddd;
}
.accordion .desc {
    color: #000;
    padding: 10px 20px 20px;
    font-size: 14px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.accordion .accordion_title a[aria-expanded="true"]:hover:after,
.accordion .accordion_title a[aria-expanded="true"]:after {
    content: "\f106";
}
.accordion .accordion_title a:after {
    content: "\f107";
    position: absolute;
    top: 30%;
    right: 20px;
    font-family: 'FontAwesome';
    font-size: 15px;
}
.faq-heading {
    padding-left: 30px;
    background: #fff !important;
}

/*Features accordion CSS Ends*/
